<header>
  <div class="topspace">
  <div class="container">    
      <div class="row">
        <div class="col-sm-12">
            <div class="top-nav">
              <ul>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@shoppy.com</li>
                <li>453-5553-996</li>
              </ul>

              <ul class="social-icon">
                  <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                  <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
                  <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                  <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
              </ul>
            </div>
        </div>
    </div>
      </div>
  </div>

  <div class="main-navigation">
  <div class="container">  
    <div class="row">
     <div class="col-md-12">
          <div class="bottom-navigation">
            <div class="logo"><img src="./assets/img/logo.png"></div>
          <ul class="mainnav">
           <li><a routerLink="/">Home</a></li>
           <li><a [routerLink]="['products']">Products</a></li>
           <li><a href="#">Hot Deals</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li> 
           
         </ul>
          <ul class="main-right">
           <li><i class="fa fa-search" aria-hidden="true"></i></li>
           <li><a  (click)="openDialog()" ><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
           <li ><a  class="active" [mdMenuTriggerFor]="menu"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
            </ul>
          </div>
     </div>
     
    </div> 

  </div>
  </div>
</header>
 <md-menu #menu="mdMenu" xPosition="before" yPosition="below" >
 <div class="basket">
   <ul>
     <li>adf</li>
   </ul>
 </div>
</md-menu>