header{
    background: #fff
}

ul{
    margin: 0; padding: 0;
}
ul li{
 list-style: none
}
.top-nav{
        font-size: 12px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.top-nav ul{
        display: flex;
}
 .social-icon{
     font-size: 14px
 }
.topspace{
    padding: 20px 0;
    border-bottom:1px solid #e3e3e3;
}

.main-navigation{
    padding: 15px 0;
}

.bottom-navigation{
        display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex-grow: 0;
    width: 20%
}

.bottom-navigation ul{
        display: flex;
}   
    
    .bottom-navigation ul li, .top-nav ul li{
        padding-left: 20px
    }
    .bottom-navigation ul li:nth-child(1), .top-nav ul li:nth-child(1){
        padding: 0
    }
    .bottom-navigation ul a{
        color: #3e3e3e;
        display: block;
      

    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
}

 .bottom-navigation ul a:hover{
    color: #fd7016
    
}
.mainnav{
        margin: 0;
    padding: 0;
    flex-grow: 1; 
}

.main-right{
       font-size: 19px;
    font-weight: normal;
}
.main-right a.active{
    color: #FD7016 !important
}


.basket{
    width: 500px
}
.basket ul{
    margin: 0;
    padding: 0
}