<footer>

  <div class="container">
    <div class="row">

      <div class="footercomponent">
        <div class="footer-left">
        <img src="./assets/img/logo.png" />
        <p>shopy c 2015. tiyr copy right here.</p>
      </div>
      <div class="footer-navigation">
        <ul >
            <li><a href="#">about us</a></li>
            <li><a href="#">our feed</a></li>
            <li><a href="#">join us</a></li>
            <li><a href="#">contact us</a></li>
            <li><a href="#">terms and conditions</a></li>
            <li><a href="#">live support</a></li>
            <li><a href="#">support</a></li>
            <li><a href="#">our privacy</a></li>
        </ul>

      </div>

      <div class="footer-right">
        <h3>Payment Methods</h3>
        <ul class="paymentoption">
          <li class="fa fa-cc-amex" aria-hidden="true"></li>
          <li class="fa fa-cc-visa" aria-hidden="true"></li>
          <li class="fa fa-cc-paypal" aria-hidden="true"></li>
          <li class="fa fa-cc-discover" aria-hidden="true"></li>
          <li class="fa fa-cc-mastercard" aria-hidden="true"></li>
        </ul>
      </div>
      </div>

    </div>
  </div>
</footer>