footer{
   padding: 80px 0;
   margin-top: 40px;
   background: white

    
}

.footercomponent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    width: 290px;
    flex-grow: 0;
}

.footer-navigation {
    flex-grow: 1;
}

  ul {
        margin: 0;
    padding: 0;
}
ul.paymentoption {
    font-size: 24px;
}

.footer-right h3{
        margin: 0;
    padding: 0 0 6px 0;
    font-size: 18px; 
    color: #fd7016;
}
.footer-navigation ul li{
        display: inline-block;
    width: 31%;
    margin-bottom: 8px;
}

.footer-navigation ul li a{
    color: #3e3e3e;
    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
}

.footer-navigation ul li a:hover{
    color: #fd7016
    
}