<app-slider></app-slider>
<main>


   <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="section-head">
                <h3>BEST <span>SALES</span></h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
            </div>
            </div>
          </div>
          <div class="row">
            {{message}}

            <div class="col-sm-3" *ngFor="let data of arrivalData">
              <app-productplaceholder (childmsg)="getdata($event)" [productData]='data' ></app-productplaceholder>
            </div>
            
          </div>
      </div>
   </section>

   <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
             <div class="section-head">
                <h3>BEST <span>SALES</span></h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
            </div>
            </div>
          </div>
          <div class="row">  
            
            <div class="col-sm-4" *ngFor="let data of arrivalData">
              <app-productplaceholder (childmsg)="getdata($event)" [productData]='data' tempType="short" ></app-productplaceholder>
            </div>
           </div>
      </div>
   </section>

    <section>
        <div class="container">
          <div class="row">
           <app-newsletter></app-newsletter>
          </div>
      </div>
   </section>
 
   
</main>
