<ul class="widget-container">
                <li class="widget-row">
                    
                <h3 class="widget-title">Categories</h3>
<ul class="widget-area">
    <li><a [routerLink]="['/product-category','men']">Men</a>
        <ul>
            <li><a [routerLink]="['/product-category', 'men', 'shirt']">shirt</a></li>
        </ul>
    </li>
    <li><a [routerLink]="['/product-category', 'women']">Women</a></li>
    <li><a [routerLink]="['/product-category', 'childeren']">Childeren</a></li>
    <li><a [routerLink]="['/deals']">Hot Deal</a></li>
</ul>


</li>
            </ul>