ul.widget-container {
    margin: 0;
    padding: 0;
}


li.widget-row {
    list-style: none;
    margin-bottom: 25px;
    background: #fff;
    padding: 20px;
}



h3.widget-title {
    margin: 0;
    padding: 0;
    color: #FD7016;
    font-size: 17px;
    font-weight: 300;
}

ul.widget-area {
    list-style: none;
    margin: 0;
    padding: 25px 0 0 0;
}

ul.widget-area li{
    margin-bottom: 15px 
}
ul.widget-area li a{
    color: #3e3e3e
}