

  <div class="logincontainer">
   <div class="text-center"> <img src="./assets/img/logo.png"></div>
      
       
          <form [formGroup]="myform" (ngSubmit)="login(myform.value)">
            <div>
            <md-input-container  class="full-width">
              <input mdInput  type="email"  formControlName="email" id="email" placeholder="Email" >              
            </md-input-container>
            </div>
          <div>
               <md-input-container class="full-width" >
            <input mdInput  type="password"   formControlName="password" id="password" placeholder="Password">
            </md-input-container>
          </div>

 
          
         <md-dialog-actions class="full-width">
            <button type="submit" md-raised-button >LOGIN</button>
             <button type="reset"  md-raised-button (click) ="closedilog()">CANCEL</button>
           </md-dialog-actions>
        </form> 
 
  
</div>