
  <div class="col-sm-12">
     <div class="newsletter"> 

      <ul>
        <li>
          <h3>NEWS LETTER</h3>
          <div>Join us now  to get  all news and special offers</div>
        </li> 
        <li>
          <form>
            <input type="text"  placeholder="type your email here"> 
            <button type="submit" class="joinus">join us</button>
          </form>
        </li>
      </ul>

    </div>
</div> 