.newsletter{
    background: #fff;
    padding: 35px;
    font-size: 12px
}

.newsletter ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0
}
.newsletter ul li{
    display: flex;
    align-items: center;
}

h3{
       margin: 0;
    padding: 0 20px 0 0;
    font-size: 18px;
    font-weight: 700;
    color:#fd7016
}

.newsletter form{
    font-size:14px;
}
.newsletter form input{
           padding: 0 15px;
    border: 1px solid #ccc;
    border-right: 0;
    line-height: 40px;
    width: 260px;
    margin: 0;
    display: block;
    float: left;
    

}
.newsletter form button{
        color: #fff;
    background: #fd7016;
    line-height: 42px;
    border: none;
    padding: 0 15px; 
    text-transform: uppercase;
}