<div class="container">

  <div class="row">

    <div class="col-md-4 col-md-offset-4">

        <form [formGroup]="myform" (ngSubmit)="singup(myform.value)">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
          </div>
          
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>

  </div>

</div>

{{postData}}