  <div *ngIf="!tempType" class="product-item-container">
            <div class="productimg"><img src="{{productData.feature_img}}"></div>
            <h4>{{productData.product_title}}</h4>
            <button md-button (click) ="sendData(productData.product_title)">Add to Cart </button>
        </div>  

<div *ngIf="tempType" class="product-item-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="productimg"><img src="{{productData.feature_img}}"></div>            
        </div> 
        <div class="col-sm-8">
            <h4>{{productData.product_title}}</h4>
        </div>
    </div>
</div>
