.product-item-container{
            background: #fff;
    padding: 14px;
    text-align: center;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.product-item-container h4{
        margin: 0;
    font-size: 16px;
    padding: 8px 0;
}

.productimg {
    text-align: center;
    max-height: 260px;
    overflow: hidden;
}