 


<section>
  <div class="container"> 
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default" *ngFor="let data of mydata.data">
        <div class="panel-heading">{{data.book_title}}</div>
        <div class="panel-body">
          {{data.book_discription}}
        </div>
        <div>
           {{data.book_price}}
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div> 
</div>
</section>
 