/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
       max-height: inherit;
}

button, input, img, a{
    outline: none;
}
body{
   font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    background: #f2f2f2;
    color: #3e3e3e;
}

 section{
     padding: 40px 0
 }

 

 .section-head {
    text-align: center;
    padding: 40px 40px 50px;
}
 
 .section-head h3{
font-size: 31px;
    font-weight: 700;
    color: #fd7016;
    margin: 0;
    padding: 0 0 20px;
 }
 .section-head h3 span{
     color: #3e3e3e
 }