
    <div class="pagebody">
    <div class="container"> 
<section>

        <div class="row">
        <div class="col-sm-3">
            <sidewidget></sidewidget>  
        </div>
        <div class="col-sm-9"> 
              
                 <router-outlet></router-outlet>
              
        </div>
    </div>

    
</section>
    <section>
        <div class="row">
            <div class="col-sm-12">
                <app-newsletter></app-newsletter> 
                </div>
        </div>
    </section>
   
</div> 
 
</div>